svg {
    height:100vh;
}
.brasgauche1 {
    animation-name : bras1;
    animation-delay: 1s;
    animation-duration: 3.2s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
}
@keyframes bras1 {
    from {
        
    }
    to { transform:translateY(20vh) translateX(-20vh) rotate(-10deg);
        
    }
    
}
.brasgauche2 {
    animation-name : bras2;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
   
    
}
@keyframes bras2 {
    from {
        
    }
    to { transform:translateY(10vh) translateX(85vh) rotate(41deg);
        
    }
}
.brasdroit1 {
    animation-name : brasd1;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
    
}
@keyframes brasd1 {
    from {
        
    }
    to {
       transform:translateY(-40vh) translateX(50vh) rotate(-85deg) ;
    }
}
.brasdroit2 {
    animation-name : brasd2;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
    
}
@keyframes brasd2 {
    from {
        
    }
    to {
       transform:translateY(-40vh) translateX(50vh) rotate(-85deg);
    }
}
.head1 { 
    animation-name : head;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
    
}
@keyframes head {
    from {
        
    }
    to {
       transform:translateY(-30vh) translateX(10vh) rotate(-55deg);
    }
}
.corps {
    animation-name : corps;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
}
@keyframes corps {
    from {
        
    }
    to {
        transform:rotate(-25deg)
}
}
.jambegauche1 {
    animation-name : jambeg1;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
    
}
@keyframes jambeg1 {
    from {
        
    }
    to {
        transform:translateY(30vh) rotate(25deg) 
}
}
.jambegauche2 {
    animation-name : jambeg2;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
    
}
@keyframes jambeg2 {
    from {
        
    }
    to {
        transform:translateY(30vh) rotate(25deg) 
}
}
.jambedroit1 {
    animation-name : jambed1;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
    
}
@keyframes jambed1 {
    from {
        
    }
    to {
        transform:translateY(0vh) rotate(-25deg) 
}
}
.jambedroit2 {
    animation-name : jambed2;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transform-origin: center;
    
    
}
@keyframes jambed2 {
    from {
        
    }
    to {
        transform:translateY(0vh) rotate(-25deg) 
}
}

